*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}


header{
    background-color: cadetblue;
    padding: 15px;
}
header h1{
    text-align: center;
    padding: 20px;
}
header menu a{
    text-align: left;
    color: black;
    text-decoration: none;
    padding-left: 10px;

}

main{
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    text-align: justify;
}
main h1{
    padding-bottom: 10px;
}
