

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250px);

}
body{
    background-image: url('../img/espaco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    background-attachment: fixed;

}