body{
    width: 100vw;
    height: 100vh;
    transition: 1s;
    margin: 0;
    padding: 0;
}
h1{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.541);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
body{
    background-color: rgb(35,62,255);
    background-repeat: no-repeat;
    background-size: contain;

}

@media screen and (orientation: landscape) {
    body{
    background-image: url('../imagens/cev-portrait.jpg');

}
    
}

@media screen and (orientation: portrait) {
body{
    background-image: url('../imagens/cev-landscape.jpg');
        background-position: left bottom;
}
    
}