body{
	background-image: linear-gradient(to right, blue, red);
	background-color: red;
	background-attachment: fixed;
}
 h1{
text-align: center;
color: blue;
text-shadow: 1px 1px 1px darkblue;
 }
p{
	text-align: justify;
}


main{
	padding: 10px 10px;
	background-color: white;
	margin: auto;
	border-radius: 10px ;
	width: 650px;
	transform:  translateY(5px);
	box-shadow: 5px 5px 10px black;
}
h2{
	color: darkred;
}
a{
	text-align: center;
	text-decoration: none;

}